################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CharGenerator
/ProjCharGenerator/bin/Debug/netcoreapp3.0
/ProjCharGenerator/obj
/Tests/bin/Debug/netcoreapp3.1
/Tests/obj
